[Desktop Entry]
Name=Lybniz
GenericName=Lybniz Graph Plotter
GenericName[ru]=Lybniz графопостроитель
GenericName[af]=Lybniz grafiekstipper
GenericName[ast]=Dibuxu de gráficos Lybniz
GenericName[bn]=Lybniz গ্রাফ প্লটার
GenericName[bs]=Lybniz crtač grafova
GenericName[pt_BR]=Plotador de Gráficos de Lybniz
GenericName[bg]=Lybniz плотер на графика
GenericName[ca]=Plòter de gràfics Lybniz
GenericName[ca@valencia]=Plòter de gràfics Lybniz
GenericName[zh_HK]=Lybniz 製圖器
GenericName[zh_CN]=Lybniz 绘图机
GenericName[crh]=Lybniz Grafik Çizici
GenericName[cs]=Tvůrce grafů Lybniz
GenericName[da]=Lybniz - graftegner
GenericName[fi]=Lybniz-graafipiirtäjä
GenericName[fr]=Traceur de graphes Lybniz
GenericName[gl]=Ferramenta de trazado de gráficos Lybniz
GenericName[de]=Lybniz – Funktionsgraphzeichner
GenericName[el]=Σχεδιαστής γραφημάτων Lybniz
GenericName[hu]=Lybniz grafikonrajzoló
GenericName[it]=Plotter per grafici Lybniz
GenericName[ja]=Lybniz グラフプロッター
GenericName[ky]=Lybniz граф түзүүчү
GenericName[ms]=Pemplot graf Lybniz
GenericName[nb]=Lybniz grafplotter
GenericName[oc]=Traçador de grafes Lybniz
GenericName[pl]=Ploter wykresów Lybniz
GenericName[pt]=Lybniz, Plotador de Gráficos
GenericName[ro]=Trasor de grafice Lybniz
GenericName[sl]=Lybniz, izrisovalnik grafov
GenericName[es]=Dibujo de gráficos Lybniz
GenericName[sv]=Lybniz grafritare
GenericName[tr]=Lybniz Grafik Çizici
GenericName[uk]=Lybniz Графобудівник
GenericName[vi]=Trình vẽ đồ thị Lybniz
Comment=Plot graphs and functions
Comment[ru]=Построение графиков математических функций
Comment[af]=Stip grafieke en funksies
Comment[sq]=Rregullo grafikët dhe funksionet
Comment[ast]=Dibuxa gráfiques y funciones
Comment[be]=Маляваць графікі й функцыі
Comment[bn]=গ্রাফ এবং ফাংশন অঙ্কিত করুন
Comment[bs]=Crtajte grafove i funkcije
Comment[pt_BR]=Plote gráficos e funções
Comment[bg]=Чертане на графики и функции
Comment[ca]=Dibuixeu gràfics i funcions
Comment[ca@valencia]=Dibuixeu gràfics i funcions
Comment[zh_HK]=繪製圖表及函式
Comment[zh_CN]=绘制图表和函数
Comment[zh_TW]=繪製圖表及函式
Comment[crh]=Grafikler ve fonksiyonlar çizdir
Comment[cs]=Vykreslování grafů a funkcí
Comment[da]=Tegn grafer
Comment[nl]=Grafiek- en functieplotter
Comment[fi]=Piirrä graafeja ja funktioita
Comment[fr]=Tracer des courbes de fonctions et des graphes
Comment[gl]=Trace gráficos e funcións
Comment[de]=Darstellen von Graphen und Funktionen
Comment[el]=Σχεδιάστε γραφήματα και συναρτήσεις
Comment[hu]=Grafikonok és függvények rajzolása
Comment[it]=Disegna grafici e funzioni
Comment[ja]=グラフと関数をプロットします
Comment[ky]=Графтарды жана функцияларды түзүү
Comment[ms]=Plot graf dan fungsi
Comment[nb]=Plott grafer og funksjoner
Comment[oc]=Traçar de corbas de foncions e de grafes
Comment[pl]=Kreśli wykresy funkcji
Comment[pt]=Plotar gráficos e funções
Comment[ro]=Trasați curbe de funcții și grafice
Comment[sl]=Izrisujte grafe in funkcije
Comment[es]=Dibuja gráficas y funciones
Comment[sv]=Rita grafer och funktioner
Comment[tg]=Функсияҳо ва диаграммаҳои Plot
Comment[tr]=Grafikler ve fonksiyonlar çizdir
Comment[uk]=Побудова графіків та функції
Comment[vi]=Vẽ đồ thị và hàm số
Exec=lybniz
Terminal=false
StartupNotify=true
Type=Application
Categories=Education;Math;
Icon=lybniz
